doctype html
html
  head
    title=title
    css:
      nav {
        margin: 10px;
      }
      nav > ul > li {
        display: inline-block;
        *display:inline;
        zoom:1;
        padding: 0.25em 0.5em;
      }
      nav > ul > li > a {
        text-transform: uppercase;
        text-decoration: none;
      }
      nav > ul > li > a:hover {
        text-decoration: underline;
      }
      ul.thumbnails > li {
        display: inline-block;
        *display:inline;
        zoom:1;
        padding: 0.25em;
      }
  body
    header
      h1=title
      nav: ul
        ==partial yield
    ==partial :thumbnails
